@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Borel&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Single+Day&display=swap");

/*  */

html {
  --white: #fbfbfb;
  --black: #1a191b;
  --creme: #f6f2f2;
  --grey: #191919;
  --secondary: #7d3132;
  --highlight: #b23133;
  --dark: #490909;

  --font-regular: "Inter", Arial, helvetica, sans-serif;
  --font-one: "Borel", Arial, helvetica, sans-serif;
  --font-two: "Single Day", cursive, "inter", Arial, helvetica, sans-serif;

  --spac-one: 0.8rem;
  --spac-two: 0.4rem;
  --spac-three: 0.2rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: var(--font-regular);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black);
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
}

.card-container {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding-top: 20rem;
  transition: all 0.8s ease-in-out;
  transform-style: preserve-3d;
}

.page {
  width: 16rem;
  height: 14rem;
  padding: var(--spac-one);
  border: 1px solid var(--black);
  perspective: 100rem;
}

.page-1 {
  background-color: var(--creme);
  transition: transform 1s ease-in-out, box-shadow 1s ease-in-out;
  transform-origin: top;
}

.page-2 {
  background-color: var(--creme);
  translate: 0 -28rem;
  transform: rotateX(180deg);
  transition: transform 1s ease-in-out;
  transform-origin: bottom;
}

.page-3 {
  background-color: var(--creme);
  translate: 0 -28rem;
  transition: transform 1s ease-in-out, box-shadow 1s ease-in-out;
  transform-origin: top;
  box-shadow: 0px 5px 20px 1px var(--black);
}

.card-container:hover {
  translate: 0 10rem;
}

.card-container:hover .page-1 {
  transform: rotateX(180deg);
  box-shadow: 0px 5px 20px 1px var(--black);
  z-index: 2;
}

.card-container:hover .page-2 {
  transform: rotateX(0deg);
  z-index: 3;
}

.card-container:hover .page-3 {
  box-shadow: 0px 5px 20px 1px var(--black);
}